body{
    margin: 0;
}

header {
    margin:0;
    margin-bottom: 2%;
    padding: 6% 8%;
    /* background-color: #ec4949; */
    /* background-color: #38e0a3; */
    background-color: #B0FFAE;
}

h1{
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}

h2{
    margin-top: 0;
    font-size: 30px;
}

#searchIngrForm{
margin: 0.2% 1%;
}

#recipeItem{
margin: 3% 1%;
display: flex;
flex-direction: row;
/* flex-wrap: nowrap; */
}

#recipeItem.img{
    margin: 1%;
    margin-left: 4%;
}

#saveRecipeBtn{
    width: 100px;
    height: 20px;
}